@font-face {
    font-family:'TwCenMT';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/TwCenMT-Regular.woff2) format('woff2'),
}
@font-face {
    font-family:'Cyberpunk';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Cyberpunk-Regular.woff2) format('woff2'),
}

body {
    background: rgb(204,204,204);
    font-size: 14px;
    font-family: TwCenMT, sans-serif;
}
.a4-portrait {
    position: relative;
    display: block;
    margin: 0 auto 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 21cm;
    height: 29.7cm;
    background: url(../images/background.png);
    background-size: contain;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
    padding: 3mm 1.5cm 2mm;
    display: flex;
    justify-content: space-between;
}

.page-number {
    font-weight: bold;
    font-size: 16px;
    background-color: #ffffff;
    padding: 2.5mm;
}

.copyright {
    background-color: #ffffff;
    padding: 2.5mm;
}

.page-content {
    margin-left: 1.4cm;
    margin-right: 1.4cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

h1 {
    text-align: center;
    font-size: 26px;
    color: #E42318;
    margin-top: 26px;
    margin-bottom: 15px;
    font-family: Cyberpunk, sans-serif;
}

.sub-title {
    text-align: center;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-top: 0.5cm;
    margin-bottom: 0.2cm;
    font-variant: small-caps;
    border-bottom: 5px solid #E42318;
}

.bold {
    font-weight: bold;
}

.text-content {
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0.1cm;
    border-bottom: 4px solid #E42318;
}

table td, table th {
    padding: 8px;
}

td,
th,
table {
    border-left: 4px solid #E42318;
    border-right: 4px solid #E42318;
    border-top: 0;
    border-bottom: 4px solid #E42318;
}

thead {
    background-color: #E42318;
    color: #ffffff;
}

table tr:first-child{
    border-top: 4px solid #E42318;
}

table tr:nth-child(even){
    background-color: #f4ded5;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.hint {
    font-size: 10px;
    margin-bottom: 0.1cm;
    color: #626262;
}

.dice-code {
    background-color: #E42318;
    border: 1px solid #E42318;
    clip-path:
            polygon(
                    4% 0%,     /* top left */
                    0% 0%,     /* top left */
                    0% 0%,    /* top right */
                    100% 0%,   /* top right */
                    100% 75%,  /* bottom right */
                    96% 100%,  /* bottom right */
                    0% 100%,   /* bottom left */
                    0 35%      /* bottom left */
            );
}

.dice-code-content {
    text-align: center;
    background-color: #eeecec;
    font-weight: bold;
    padding: 10px;
    clip-path:
            polygon(
                    3.8% 0%,     /* top left */
                    0% 0%,     /* top left */
                    0% 0%,    /* top right */
                    100% 0%,   /* top right */
                    100% 75%,  /* bottom right */
                    96.2% 100%,  /* bottom right */
                    0% 100%,   /* bottom left */
                    0 37%      /* bottom left */
            );
    margin: 4px;
}

@media print {
    body, .a4-portrait {
        margin: 0;
        box-shadow: 0;
    }
}